@model OrderDetailsViewModel
@{
    ViewData["Title"] = $"Order #{Model.Order.Id}";
}

<h5 class="text-center">@ViewData["Title"] Details</h5>

<section class="vh-100 gradient-custom-2">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">

                <div class="card card-stepper" style="border-radius: 16px;">
                    <div class="card-header p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="text-muted mb-2">Order ID: <span class="fw-bold text-body">@Model.Order.Id</span></p>
                                <p class="text-muted mb-2">Placed on: <span class="fw-bold text-body">@Model.Order.CreatedOn.ToString("M")</span> </p>
                                <p class="text-muted mb-2">Payment Method: <span class="fw-bold text-body">@Model.Order.PaymentMethod</span> </p>
                                <p class="text-muted mb-2">Delivered on: <span class="fw-bold text-body">@Model.Order.DeliveryDate.ToString("M")</span></p>
                                <p class="text-muted">Order Status: <span class="fw-bold text-body">@Model.Order.OrderStatus</span></p>
                            </div>
                        </div>
                    </div>
                    @foreach (var prod in Model.Products)
                    {
                        <div class="card-body p-4 border-bottom">
                            <div class="d-flex flex-row mb-4 pb-2">
                                <div class="me-2">
                                    <img width="100px" src="/images/products/@(prod.Image.Name + prod.Image.Extension)" />
                               </div>
                                <div class="flex-fill">
                                    <h5 class="bold">@(prod.Name)</h5>
                                    <p class="text-muted"> Qt: @prod.Quantity @(prod.Quantity == 1 ? "item" : "items")</p>
                                    <h4 class="mb-3"> $@(prod.Price)</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="card card-footer p-4">
                    <h4 class="text-muted mb-2">Total Price: <span class="fw-bold text-body">$@Model.Order.TotalPrice.ToString("F2")</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>


