@model CartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Your @ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <form asp-controller="Orders" asp-action="Make" method="post" id="order-form">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Cart - <span class="products-count">@Model.ProductsCount</span> items</h5>
                        </div>
                        <div class="card-body">
                            @foreach (var product in Model.CartProducts.ToList())
                            {
                                <div class="row product">
                                    <input type="hidden" name="productIds" value="@product.ProductId" />
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="~/images/products/@(product.Image.Name + product.Image.Extension)"
                                                 class="w-100" alt="@product.ProductName Image" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <p><strong>@product.ProductName</strong></p>
                                        <button type="button" class="btn btn-danger btn-sm me-1 mb-2 remove-btn" data-mdb-toggle="tooltip"
                                                title="Remove item">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <!-- Data -->
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="mb-4">

                                            <div class="form-outline">
                                                <label class="form-label" for="quantities[@Model.CartProducts.ToList().IndexOf(product)]">Quantity</label>
                                                <input class="quantity-input" id="quantities[@Model.CartProducts.ToList().IndexOf(product)]" name="quantities[@Model.CartProducts.ToList().IndexOf(product)]" value="@product.ProductQuantity" type="number" />
                                            </div>
                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->
                                        <p class="text-start text-md-center">
                                            <span>Total Price: </span>
                                            <strong class="product-price">$@product.ProductTotalPrice</strong>
                                        </p>
                                        <!-- Price -->
                                    </div>
                                </div>
                                <!-- Single item -->
                                <hr class="my-4" />
                            }



                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <partial name="_OrderSummary" />
                </div>
            </div>
            <partial name="_OrderForm" model="@Model.Input" />
           
        </form>
    </div>
</section>
@section Scripts {
    <script src="~/js/order-validate.js"></script>
    <script src="~/js/address-form.js"></script>
}
