@model CartViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Your @ViewData["Title"]</h1>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - <span class="products-count">@Model.ProductsCount</span> items</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var product in Model.CartProducts)
                        {
                            <div class="row product-@product.ProductId">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                        <img src="~/images/products/@(product.Image.Name + product.Image.Extension)"
                                             class="w-100" alt="@product.ProductName Image" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>@product.ProductName</strong></p>
                                    <button type="button" class="btn btn-danger btn-sm me-1 mb-2 remove-btn" data-mdb-toggle="tooltip"
                                            title="Remove item">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    <input type="hidden" value="@product.ProductId" />
                                    <!-- Data -->
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4" style="max-width: 300px">
                                        <button class="btn btn-primary px-3 me-2">
                                            <i class="bi bi-dash"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                                            <label class="form-label" for="form1">Quantity</label>
                                        </div>

                                        <button class="btn btn-primary px-3 ms-2">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity -->
                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong>$@product.ProductPrice</strong>
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>
                            <!-- Single item -->
                            <hr class="my-4" />
                        }
                        

                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>TODO</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                </div>
                                <span><strong class="total-price">$@Model.TotalPrice</strong></span>
                            </li>
                        </ul>

                        <button type="button" class="btn btn-primary btn-lg btn-block">
                            Go to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".remove-btn").on("click", function () {
                let idOfProduct = $(this).next().val();
                $.ajax({
                    type: "POST",
                    url: "/Cart/DeleteProduct",
                    data: {
                        productId: idOfProduct,
                    },
                    success: function (data) {
                        console.log(data);
                        let deletedProductId = data.productId;
                        $(".product-" + deletedProductId).next().remove();
                        $(".product-" + deletedProductId).remove();
                        $(".products-count").text(data.newCount);
                        $(".total-price").text('$' + parseFloat(data.newTotalPrice).toFixed(2));
                    },
                    dataType: "json",
                });
            });
        });
    </script>
}