@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var RandomProducts = Model.RandomProducts.ToList();
}

@if (TempData.ContainsKey("ProductUnApproved"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ProductUnApproved"]
    </div>
}

@if (TempData.ContainsKey("ProductDeleted"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ProductDeleted"]
    </div>
}

<div class="text-center mb-4">
    <h1 class="display-6">Welcome to the best shop in the world!</h1>
</div>

<div class="row mb-4">
    <div class="offset-md-4 col-md-5">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Total products: <span class="fst-italic fw-bold text-decoration-underline">@Model.TotalProductsCount</span></li>
                <li class="list-group-item">Total categories: <span class="fst-italic fw-bold text-decoration-underline">@Model.TotalCategoriesCount</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center">
    <p class="fs-4 fst-italic">Some random products:</p>
</div>

<div class="row">
    <partial name="_ListProducts" model="@Model.RandomProducts" />
</div>

