@model CategoryProductsViewModel
@{
    ViewData["Title"] = Model.CategoryName;
}
<div class="offset-md-3 col-md-4">
    <h1>@ViewData["Title"] - <span class="products-count">@Model.TotalProductsCount</span> products</h1>
</div>

@if (Model.ProductsPerPageCount == 0)
{
    <h5>No products in this category</h5>
}
else
{
    <div class="row products-filter-container" data-categoryId="@Model.CategoryId">
        <partial name="_FilterProducts" />
        <partial name="_ListProducts" model="@Model.ProductsPerPage" />
    </div>
}



<div class="offset-md-3 col-md-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item prev @(Model.CurrentPage == 1 ? "disabled" : "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@(Model.CurrentPage - 1)">Previous</a></li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item page-number page-@i @(i == Model.CurrentPage ? "active": "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@i">@i</a></li>
            }

            <li class="page-item next @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@(Model.CurrentPage + 1)">Next</a></li>
        </ul>
    </nav>
</div>

@section Scripts {
    <script src="\js\products-filter.js"></script>
}