@model CategoryProductsViewModel
@{
    ViewData["Title"] = Model.CategoryName;
}

<h1>@ViewData["Title"] - @Model.TotalProductsCount products</h1>

@if (Model.ProductsPerPageCount == 0)
{
    <h5>No products in this category</h5>
}
else
{
    <partial name="_ListProducts" model="@Model.ProductsPerPage" />
}




<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@(Model.CurrentPage - 1)">Previous</a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active": "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@i">@i</a></li>
        }
        
        <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")"><a class="page-link" asp-route-id="@Model.CategoryId" asp-route-name="@Model.CategoryName" asp-route-page="@(Model.CurrentPage + 1)">Next</a></li>
    </ul>
</nav>