@using Ganss.Xss
@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
    var Images = Model.Images.ToList();
}

@if (TempData.ContainsKey("NotInStock"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["NotInStock"]
    </div>
}

@if (TempData.ContainsKey("ProductApproved"))
{
    <div class="alert alert-success" role="alert">
        @TempData["ProductApproved"]
    </div>
}

@if (TempData.ContainsKey("ProductUpdated"))
{
    <div class="alert alert-success" role="alert">
        @TempData["ProductUpdated"]
    </div>
}

@if (TempData.ContainsKey("SuccessfullyAddedByAdmin"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessfullyAddedByAdmin"]
    </div>
}




<h6><a asp-action="Category" asp-route-name="@Model.CategoryName" asp-route-id="@Model.CategoryId" asp-route-page="1">@Model.CategoryName</a></h6>
<div class="row mb-2">
    <div class="col-md-9"><h3>@ViewData["Title"]</h3><span class="fst-italic">Added By: @Model.UserName</span></div>
    @if (Model.BelongsToCurrentUser && Model.IsApproved)
    {
        <div class="col-md-3">
            <a class="btn btn-warning" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
            <form asp-action="Delete" method="post" class="delete-product-form d-inline">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-danger delete-btn">Delete</button>
            </form>
        </div>
    }

    else if (!Model.IsApproved && Model.IsUserAdmin)
    {
        <div class="row">
            <div class="col-md-1">
                <form asp-area="Administration" asp-controller="Products" asp-action="Approve" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type=submit class="btn btn-success">Approve</button>
                </form>
            </div>
            <div class="col-md-2">
                <form asp-area="Administration" asp-controller="Products" asp-action="UnApprove" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type=submit class="btn btn-danger">Not approve</button>
                </form>
            </div>
        </div>
    }

</div>


<div class="row">
    <div id="carouselExample" class="carousel carousel-dark slide col-md-8">
        <div class="carousel-inner">
            @for (int i = 0; i < Images.Count; i++)
            {

                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@(!string.IsNullOrWhiteSpace(Images[i].Name) && !string.IsNullOrWhiteSpace(Images[i].Extension) ? $"/images/products/{Images[i].Name}{Images[i].Extension}" : Images[i].ImageUrl)" class="d-block img-fluid" alt="@Model.Name Image" />
                </div>

            }
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col-md-4 my-auto">

        @if (User.Identity != null && User.Identity.IsAuthenticated && Model.IsApproved && !Model.IsMine)
        {
            <div class="rating-container text-center">
                <span class="rating-info"><span class="rating-number">@Model.Rating</span><span>/</span><span class="rating-number-avg">@(Model.AvgRating.ToString("F2"))</span><span> (<a asp-action="Reviews" asp-route-id="@Model.Id" class="link-dark">Reviews</a>)</span></span>
                @for (int i = 0; i < 5; i++)
                {
                    <i class="bi bi-star-fill @(i == Model.Rating - 1 ? "star-selected" : "") @(i < Model.Rating ? "stars-yellow" : "")"></i>
                }
                <div class="review-text-input-container d-none">
                    <label for="review-text-input">Please share your thoughts on this product (You can leave this box empty)</label>
                    <textarea id="review-text-input" class="form-control"></textarea>
                    <button class="btn btn-primary mt-2" type="button">Submit</button>
                </div>
            </div>
        }

        @if ((User.Identity != null && !User.Identity.IsAuthenticated && Model.IsApproved) || (User.Identity != null && User.Identity.IsAuthenticated && Model.IsApproved && Model.IsMine))
        {
            <div class="text-center" style="font-size:20px;"><a asp-action="Reviews" asp-route-id="@Model.Id" class="link-dark">Reviews</a></div>
            <hr />
        }


        <ul class="list-group mt-3">

            <li class="list-group-item text-center">
                <span>Quantity: <span class="fw-bold fs-4 text-decoration-underline text-body-tertiary">@Model.Quantity</span></span>
            </li>

            @if (Model.Quantity == 0)
            {
                <li class="list-group-item text-center">Availability: <span class="text-danger fw-bold text-decoration-underline fs-4">Not In stock</span></li>
            }
            else
            {
                <li class="list-group-item text-center">Availability: <span class="text-success fw-bold text-decoration-underline fs-4">In stock</span></li>
            }

            <li class="list-group-item text-center">
                Price:
                @if (!Model.HasDiscount)
                {
                    <span class="text-primary fw-bold text-decoration-underline fs-4">$@Model.Price</span>
                }

                else
                {
                    <span class="text-primary text-decoration-line-through fs-4">$@Model.Price</span>
                    <span class="text-primary fw-bold text-decoration-underline fs-1">$@Model.NewPrice</span>
                    <span class="text-primary fw-bold" style="font-size: 15px">(-@Model.DiscountPercentage%)</span>
                }

            </li>
                @if (User.Identity != null && User.Identity.IsAuthenticated && Model.IsApproved)
                {
                    if (!Model.IsMine)
                    {
                    <li class="list-group-item text-center">
                        <form asp-controller="Cart" asp-action="AddToCart" method="post">
                            <input type="hidden" name="id" class="productId" value="@Model.Id" />
                            <button class="btn btn-success">Add to cart</button>
                        </form>
                    </li>
                    }

                }
                else if (User.Identity == null || !User.Identity.IsAuthenticated)
                {
                <li class="list-group-item text-center">
                    <span><a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Log-in</a> to be able to buy this product.</span>
                </li>
                }

        </ul>
    </div>
</div>

<hr />
<div class="text-center">
    <h5>Description:</h5>
</div>

<div class="row justify-content-center">
    <div class="col-auto">
        @(Html.Raw(new HtmlSanitizer().Sanitize(Model.Description)))
    </div>
</div>

@section Scripts {
    <script src="~/js/product-index.js"></script>
}





