@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
    var Images = Model.Images.ToList();
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div id="carouselExample" class="carousel carousel-dark slide col-md-8">
        <div class="carousel-inner">
            @for (int i = 0; i < Images.Count; i++)
            {

                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="~/images/products/@(Images[i].Name + "." + Images[i].Extension)" class="d-block w-100" alt="@Model.Name Image" />
                </div>

            }
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col-md-4 my-auto">

        <div class="rating-container text-center">
            <span class="rating-number">@Model.Rating</span>
            @for (int i = 0; i < 5; i++)
            {
                <i class="bi bi-star-fill"></i>
            }
        </div>

        <ul class="list-group mt-3">
            <li class="list-group-item text-center">Availability: <span class="text-success fw-bold text-decoration-underline fs-4">In stock</span></li>
            <li class="list-group-item text-center">Price: <span class="text-primary fw-bold text-decoration-underline fs-4">$@Model.Price</span></li>
            <li class="list-group-item text-center"><button class="btn btn-success">Add to cart</button></li>
        </ul>
    </div>
</div>

<hr />
<div class="text-center">
    <h5>Description:</h5>
    <p>@Model.Description</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".bi-star-fill").on("mouseenter", function () {
                let indexOfThis = $(".bi-star-fill").index($(this));

                for (let i = 0; i < indexOfThis + 1; i++) {
                    $(".bi-star-fill").eq(i).addClass("stars-yellow")
                }

            });

            $(".bi-star-fill").on("mouseleave", function () {
                $(".bi-star-fill").removeClass("stars-yellow");
            });

        });
    </script>
}





